<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CourseSystemApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
        <add name="<DB>" connectionString="Server=<IP or localhost>;Initial Catalog=<tableName>;Persist Security Info=False;User ID=<UserID>;Password=<Pwd>;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <CourseSystemApp.Properties.Settings>
            <setting name="DbConnStr" serializeAs="String">
                <value>Server=localhost;Initial Catalog=MyDb;User ID=user;Password=pass;</value>
            </setting>
        </CourseSystemApp.Properties.Settings>
    </userSettings>
</configuration>